*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.Face{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-image: url("../images/Tony.jpg");
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: auto;
    display: flex;

}
body{
    background-image: url("../images/Winter-Hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.My-Brand {
    width: 75%;
    height: 200px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.brand-img{
    width: 70%;
}

header{
    background-image:linear-gradient(rgb(0, 0, 0), rgba(247, 247, 247, 0));
    padding: 10px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .About-Me{
    padding: 10px;
    margin: 10px;
    color: rgb(0, 0, 0);
    background-image:radial-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.76));
    justify-content: center;
    text-align: center;
  }
  .Crypto {
    text-emphasis-color: white;
    text-align: center;
    background-color: #fff;
  }
  .h3-background{
    background-image:radial-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.76));
    padding: 5px;
    width: auto;
    color: black;
    justify-content: space-around;
    display: flex;
    text-align: center;
    
    
}
nav {

    margin: 7px 0;
    color: cyan;
  }
nav ul {
    color: cyan;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  nav a {
    text-decoration: none;
    background-color: cyan;
    color: black;
  }
  
 nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.5vw;
  }

  /*Section tags*/
  section {
    padding: 20px;
    width: 1280px;
    margin: 40px auto;
}
a:hover {
    background-color: white;
    transition: all 1s ease-in-out; 
 
}
section ul{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}
section ul li{
    list-style: none;
    background: rgb(187, 187, 187);
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 2px;
    cursor: pointer;
    justify-content: center;
}
section ul li.active {
    background: rgb(46, 245, 245);
    color: #fff;
    justify-content: center;
}
article{
    list-style: none;
    background: rgb(0, 0, 0);
    color: white;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 2px;
    justify-content: center;
}
footer {
    background-image:linear-gradient(rgba(0, 0, 0, 0),rgb(0, 0, 0) );
    padding: 5px;
    width: relative;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    text-align: left;
    padding: 20px;
    position: bottom;

}
/*Flex Box wrapping*/
.flex-row {
    display: flex;
  }
.product
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product .itemBox
{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 15px;
    justify-content: center;
}
.product .itemBox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
}
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }

  header h2 {
    width: 100%;
    text-align: center;
  }
  article {
      width: 100%;
    text-align: center;
    }
    footer{
        width: 100%;
        text-align: center;
    }
    .product{
    width: 100%;
    text-align: center;
    }
    .About-Me{
        width: 100%;
        text-align: center;
        }
    .list{
        width: auto;
        text-align: center;
    }
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
  header {
    padding-bottom: 0;
    justify-content: center;
}
header h1 {
  width: 100%;
  text-align: center;
}
  

.About-Me{
    width: 100%;
    text-align: center;
    }
header h2 {
  width: 100%;
  text-align: center;
}
article {
    width: 100%;
  text-align: center;
  }
  footer{
    width: 100%;
    text-align: center;
}
.product{
    width: 100%;
    text-align: center;
    }
 
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  .Face {
    width: 100%;
  }

  header {
    padding-bottom: 0;
    justify-content: center;
}
header h1 {
  width: 100%;
  text-align: center;
}

header h2 {
  width: 100%;
  text-align: center;
}
article {
    width: 100%;
  text-align: center;
  }
  footer{
    width: 100%;
    text-align: center;
}
.product{
    width: 100%;
    text-align: center;
    }
    .About-Me{
        width: 100%;
        text-align: center;
        }
  }